<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <p class="font-mont font-native font-low">Houses close to your destination</p>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!data.loading" >
    <div class="flex-under animate__animated" *ngIf="data?.result?.length!=0">
      <div class="border-round font-mont">
        <ion-row class="animate__animated">
                           <ion-col class="" size="6" *ngFor="let item of data.result" (click)="goHouse(item)">
                             <ion-card>
                                 <div class="center-flex">
                                      <img class="imgs" src="{{item?.images[0]}}" />
                                      </div>
                                      <ion-card-header>
                                        <ion-card-subtitle class="font-mont font-small">Location: {{item.address}}</ion-card-subtitle>
                                        <ion-card-title class="font-mont font-small"><strong>{{item.name}}</strong></ion-card-title>
                                      </ion-card-header>
                                      <ion-card-content>
                                        <div class="font-mont font-low">
                                         {{ (item.short_desc.length>15)? (item.short_desc | slice:0:15)+'..':(item.short_desc) }}
                                        </div>
                                        <div class="">
                                          <ion-icon name="heart"></ion-icon> {{item.likes}}
                                        </div>
                                      </ion-card-content>
                                    </ion-card>

                                  </ion-col>
               </ion-row>
      </div>
    </div>

    <div class="animate__animated" *ngIf="data?.result?.length==0">
      <p class="font-mont font-small align-center">Sorry, there are no houses nearby to your destination, don't worry,we are working hard on getting houses on board!</p>
    </div>

  </div>

  <div class="center-flex" *ngIf="this.data.loading" >
    <div class="loading">
    </div>
  </div>
</ion-content>
