.padd{
padding: 20px;
}
.img_con{
  background-image: url('../../../assets/images/thumbs.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
}
.mg-y-rm{
margin-top: -30px
}
.mg-y-rm-sm{
  margin-top: -20px
}
