<ion-header>
  <ion-toolbar>
    <ion-title>
<p class="font-native font-mont font-small align-center">SELECT A PAYMENT MARCHANT</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="">
  <ion-button color="success" expand="full" class="font-mont" (click)="go('paystack')">PAYSTACK</ion-button>
  <ion-button  expand="full" class="font-mont" (click)="go('rave')">RAVE BY FLUTTERWAVE</ion-button>
</div>
<p class="align-center font-small font-native">All listed payment marchant are safe and secure</p>
</ion-content>
